@media screen and (max-width: 481px){
    .text-cont{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }

    .text-cont dd a{
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
    }
}

.blue{
    color:blue !important
}