@media screen and (min-width: 480px){
    .wid20{
     width: 18% !important;
    }
    .wid80{
     width: 82% !important;
    }
  
    .wid30{
      width: 100% !important;
     }
  
     .test{
       text-align: right;
  
     }
  }
  
  @media screen and (max-width: 481px){
  
    .wid20{
      width: 30% !important;
    }

    .icon-pdf{
        width: 30% !important; 
        margin-right:3% !important;
    }
  
  }