@import "compass/reset";

html {
	line-height: 1.5;
	font-size: 87.5%;
	font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	color: #221814;
}

html, body {
	height: 100%;
}

// js

.locked {
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 1;
}

// img

img {
	max-width: 100%;
	vertical-align: middle;
}

figure {
	img {
		margin-bottom: .5em;
	}
	&.inline {
		img {
			display: inline-block;
			vertical-align: middle;
		}
		figcaption {
			display: inline-block;
			vertical-align: middle;
		}
	}
}

a {
	display: block;
	text-decoration: none;
	color: #221814;
	&:hover {
		opacity: .5;
	}
}

form {
	input, textarea {
		border: none;
		padding: .5em;
		// font-size: 1.142857rem;
		box-sizing: border-box;
	}
	input[type="text"] {
		vertical-align: bottom;
	}
	select {
		background: #fff;
		border: none;
	}
	button {
		display: block;
		margin: 0 auto;
		background: #A7BBC6;
		border: none;
		width: 60%;
		text-transform: uppercase;
		color: #fff;
		cursor: pointer;
		&.dib {
			width: auto;
			padding: .2em 2em;
			margin: 1em;
		}
		&.back {
			background: #fff;
			color: #A7BBC6;
			border: 1px solid #A7BBC6;
		}
	}
}

// font

.bold {
	font-weight: bold;
}
.telNumber,
#sideInfo .tel {
	font-weight: bold;
}

.cf:after,
.cf:before {
	content: '';
	display: table;
}
.cf:after {
	clear: both;
}
.cf {
	zoom: 1;
}

#siteLogo {
	width: 210px;
	padding: 10px;
}
#globalNavi {
	overflow: hidden;
	// margin-bottom: 2em;
	&.sp {
    font-size: 10px;
    ul {
    	overflow: hidden;
    	border-bottom: 2px solid #A7BBC6;
    	a {
    		float: left;
    		width: 33.33%;
    		box-sizing: border-box;
    		padding: 10px;
    		text-align: center;
    		// background: #A7BBC6;
    		color: #A7BBC6;
    		border: 2px solid #A7BBC6;
    	}
    }
    .closeBtn {
  		display: none;
    }
	}
}
#menuBtn {
	display: none;
	float: right;
	padding-top: 23px;
	margin-right: 10px;
}
#shareBtn {
	position: absolute;
	top: 5px;
	right: 10px;
	font-size: .75em;
	img {
		vertical-align: middle;
		width: 80px;
	}
	span {
		vertical-align: middle;
		display: none;
	}
}
#fzSwitch {
	display: none;
}

#contents {
	&.bgIvory {
		background: #F4F2EE;
	}
	.bgIvory {
		background: #F4F2EE;
	}
	.bgMist {
		background: #A6BBC5;
		color: #fff;
	}
	.bgConcept {
		background-image: url(/recruit/concept/images/img_main.jpg);
		background-position: right bottom;
		background-repeat: no-repeat;
		background-size: contain;
	}
	.bgSaiyo {
		background-image: url(/recruit/saiyo/images/bg_saiyo.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
	&.bgStage {
		background-image: url(/recruit/stage/images/img_main.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 100%;
	}
	@media screen and (max-width: 480px){
		.bgSp {
			background: rgba(white, .7);
			padding: 20px;
		}
		.bgMist {
			color: #221814;
		}
	}
}

#main {
	overflow: hidden;
	padding: 5%;
	margin: 0 auto 3em;
	text-align: center;

	&.full {
		width: 100%;
		padding: 0;
		.container {
			padding: 5%;
		}
	}

	p, li, dl {
		text-align: left;
	}

	// table
	table {
		border-top: 1px dashed #9FA0A0;
		tr {
			border-bottom: 1px dashed #9FA0A0;
		}
		th {
			background: #C9C9CA;
			color: #fff;
			font-weight: normal;
			padding: 5px;
			text-align: center;
			vertical-align: middle;
		}
		td {
			padding: 10px;
			background: #fff;
			&.slash {
				background: url(../images/img_table_slash.png) 0 0 no-repeat;
				background-size: 100% 100%;
			}
		}
		&.borderless {
			border: 0;
			tr {
				border: 0;
			}
			td {
				padding: 2px 0;
				padding-right: 3em;
				min-width: 2em;
				vertical-align: top;
			}
		}
		&.pink {
			border-top: 1px dashed #F09EB5;
			tr {
				border-bottom: 1px dashed #F09EB5;
			}
			th {
				background: #FAE6EF;
				color: #EF9FB4;
			}
		}
	}

	.borderTable {
		border-top: 0;
		background: none !important;
		caption {
			font-size: 1.3rem;
			font-weight: bold;
		}
		th {
			text-align: center;
			width: auto;
			min-width: 2em;
			&.w13p {
				width: 13%;
			}
			&.w20p {
				width: 20%;
			}
		}
		th, td {
			border: 1px solid #656464;
		}
		tr {
			border: none;
		}
		td {
			padding: 10px;
			vertical-align: top;
			&.alignMiddle {
				vertical-align: middle;
				text-align: center;
			}

			&.sepaleteR {
				border-right: 1px dotted #656464;
			}
			&.sepaleteB {
				border-bottom: 1px dotted #656464;
				border-left: none;
			}
			&.sepaleteT {
				border-top: 1px dotted #656464;
				border-left: none;
			}
			&.sepaleteL {
				border-left: none;
			}
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				&.sepaleteB {
					border-left: 1px solid;
				}
				&.sepaleteT {
					border-left: 1px solid;
				}
				&.sepaleteL {
					border-left: 1px solid;
				}
			}
		}
		&.vam {
			td {
				vertical-align: middle;
			}
		}
		&.center {
			td {
				text-align: center;
				vertical-align: middle;
			}
		}
		&.equal {
			td {
				width: 14.28%;
			}
		}
		&.pink {
			.colorBlack {
				color: #221814;
			}
			th, td {
				border-color: #F0A8BB;
			}
			caption {
				font-weight: normal;
			}
		}
	}

	.headerGray {
		font-size: 1em;
		background: #A7BBC6;
		color: #fff;
		line-height: 1;
		padding: 5px 10px;
	}
	.bgHeader {
		padding: .5em 10px;
		line-height: 1;
	}

	.rectNumHeader {
		i {
			display: inline-block;
			text-align: center;
			background: #fff;
			color: #86BBE3;
			padding: .1em;
			line-height: 1;
			min-width: 1em;
			font-size: .9em;
			margin-right: .2em;
			vertical-align: text-top;
		}
		&.mb {
			margin-bottom: .5em;
		}
	}

	// parts
	.mb0 {
		margin-bottom: 0 !important;
	}
	.mb1 {
		margin-bottom: 1em;
	}
	.mb2 {
		margin-bottom: 2em;
	}
	.mb3 {
		margin-bottom: 3em;
	}
	.mb4 {
		margin-bottom: 4em;
	}
	.mb5 {
		margin-bottom: 5em;
	}
	.mb8 {
		margin-bottom: 8em;
	}
	.mb14 {
		margin-bottom: 14em;
	}
	.mb130 {
		margin-bottom: 130px;
	}
	.mb50p {
		margin-bottom: 50%;
	}
	.mr1e {
		margin-right: 1em;
	}
	.ml1e {
		margin-left: 1em;
	}
	.mr65 {
		margin-right: 4.628407%;
	}
	.mr70 {
		margin-right: 5.179211%;
	}
	.p5 {
		padding: 5px !important;
	}
	.p10 {
		padding: 10px !important;
	}
	.underline {
		text-decoration: underline;
	}
	.bold {
		// font-weight: bold;
	}
	.center {
		text-align: center !important;
		p {
			text-align: center;
		}
	}
	.left {
		text-align: left !important;
	}
	.right {
		text-align: right !important;
	}
	.bgBrown {
		background: #EEEEE7;
		.headerGray {
			width: 95%;
			margin-bottom: .5em;
		}
	}
	.bgGray {
		background: #C9C9CA;
		color: #fff;
	}
	.bgWhite {
		background: #fff;
	}

	.closed {
		color: #C9C9CA;
	}

	.relBox {
		position: relative;
		overflow: hidden;
	}

	dl.inline {
		dt {
			clear: both;
			float: left;
			width: 12%;
			line-height: 1.8;
		}
		dd {
			float: right;
			width: 87%;
			line-height: 1.8;
			padding-left: 1.2em;
			box-sizing: border-box;
			span {
				margin-right: 3em;
			}
		}
		&.w2 {
			dt {
				clear: both;
				width: 27%;
				// min-width: 8em;
			}
			dd {
				float: right;
				width: 73%;
			}
		}
		&.form {
			dt, dd {
				margin-bottom: .5em;
			}
		}
	}
	.numList {
    list-style: decimal;
   	padding-left: 1.5em;
	}
	.counter {
		display: block;
		text-align: center;
		padding: 10px;
		margin-bottom: 5px;
		img {
			width: 16px;
		}
		&.s2 {
			img {
				width: 50px;
			}
		}
	}
	.discList {
		> li {
			margin-bottom: .7em;
		}
		i {
			color: #A7BBC6;
			font-size: 1em;
			margin-right: .1em;
			// line-height: 1;
		}
		.indent {
			text-indent: 1.2em;
		}
	}
	.discNumList {
		counter-reset: number;
		list-style-type: none;
		// margin: 0;
		// padding: 0;
		> li {
			position: relative;
			padding-left: 2em;
			padding-top: 2px;
			.headline02 {
				margin-top: -.2em;
			}
			&:before {
				position: absolute;
				left: 0;
				top: 16%;
				display: inline-block;
				text-align: center;
				vertical-align: middle;
				counter-increment: number;
				content: counter(number);
				background: #fff;
				padding: .2em;
				line-height: 1;
				min-width: 1em;
				border-radius: 100%;
				font-size: .8em;
			}
		}
		&.pink {
			> li:before {
				color: #EF9DB4;
			}
		}
	}
	.indent {
		text-indent: 1.2em;
	}
	.accordion {
		.btn {
			border: 1px solid #656464;
			margin-bottom: .8em;
			a {
				padding: .5em 2em;
				background: url(../images/ico_accordion_open.png) 1% center no-repeat;
				min-height: 18px;
				line-height: 1;
				text-align: left;
				&.open {
					background-image: url(../images/ico_accordion_close.png);
				}
			}
		}
		.hide {
			display: none;
		}
	}

	// button

	.backBtn {
		position: absolute;
		top: 20px;
		right: 3%;
		z-index: 2;
		img {
			width: 20px;
			margin-right: 5px;
			vertical-align: middle;
		}
		a {
			color: #A6BBC5;
			vertical-align: bottom;
			line-height: 20px;
			white-space: nowrap;
		}
	}

	.fbBtn {
		position: absolute;
		top: 50px;
		right: 2.5%;
		z-index: 2;
		a {
			width: 60px;
		}
		img {
			width: 100%;
			margin-right: 5px;
			vertical-align: middle;
		}
	}

	.btn {
		&.mist {
			background: #A7BBC6;
			a {
				display: block;
				color: #fff;
				padding: .7em 0;
				line-height: 1;
			}
		}
	}


	// color
	.colorRed, .required {
		color: #E30B21;
	}
	.colorWhite {
		color: #fff !important;
		a {
			color: #fff;
		}
	}
	.colorPink {
		color: #F09EB5;
	}

	// layout
	#localMenu {
		li {
			float: left;
			box-sizing: border-box;
			margin-bottom: 1em;
			width: 100%;
			a {
				position: relative;
				float: left;
				box-sizing: border-box;
				width: 100%;
				color: #fff;
				font-size: 1.2rem;
				.title {
					float: left;
					padding: 1em;
					margin-bottom: 40px;
				}
				.count {
					position: absolute;
					left: 1em;
					bottom: 10px;
					img {
						width: 20px;
					}
				}
				.portrait {
					float: right;
					width: 80px;
				}
			}
		}
		.sixColumn {
			li {
				// width: 50%;
				// a {
				// 	min-height: 20px;
				// 	.title {
				// 		z-index: 2;
				// 	}
				// 	.count {
				// 		z-index: 1;
				// 	}
				// 	.portrait {
				// 		position: absolute;
				// 		right: 0;
				// 		bottom: 0;
				// 		width: 50px;
				// 		z-index: 0;
				// 	}
				// }
			}
		}
	}
	.timeTable {
		.cell {
			margin-bottom: 2em;
		}
	} // timeTable

	// color
	.bgPink {
		background: #EF9DB4;
		.rectNumHeader i { color: #EF9DB4; }
	}
	.bgBlue {
		background: #85BAE3;
		.rectNumHeader i { color: #85BAE3; }
	}
	.bgYellowgreen {
		background: #C4D52C;
		.rectNumHeader i { color: #C4D52C; }
	}
	.bgBeige {
		background: #CFC69E;
		.rectNumHeader i { color: #CFC69E; }
	}
	.bgYellow {
		background: #F3CB2E;
		.rectNumHeader i { color: #F3CB2E; }
	}
	.bgPalegreen {
		background: #8BC898;
		.rectNumHeader i { color: #8BC898; }
	}
	.bgLightblue {
		background: #74C8D8;
		.rectNumHeader i { color: #74C8D8; }
	}
	.bgPurple {
		background: #B19FC9;
		.rectNumHeader i { color: #B19FC9; }
	}
	.bgOrange {
		background: #F09A79;
		.rectNumHeader i { color: #F09A79; }
	}
	.bgDarkblue {
		background: #86BBE3;
		.rectNumHeader i { color: #86BBE3; }
	}
	.bgPaleblue {
		background: #9EC9DF;
		.rectNumHeader i { color: #9EC9DF; }
	}

}




header {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
	background: #fff;
}
footer {
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
}

#footerMenu {
	margin-bottom: 1em;
	a {
		padding: 10px 0;
	}
}

@media screen and (min-width: 480px){
	#main, #globalNavi {
		width: 94%;
		max-width: 1600px;
		min-width: 960px;
		margin: 0 auto;
		padding: 0 3%;
	}
	#main {
		&.full {
			width: 100%;
			max-width: none;
			min-width: none;
			padding: 0;
			.container {
				position: relative;
				width: 94%;
				max-width: 1600px;
				min-width: 960px;
				margin: 0 auto;
				padding: 0 3%;
				z-index: 1;
			}
		}
	}
	#siteLogo {
		width: 22%;
		padding: 20px 0;
		margin-left: 3%;
	}
	#globalNavi {
		ul {
			overflow: hidden;
			padding-top: 11px;
			width: 100%;
		}
		li {
			float: left;
			font-size: 1.08em;
			width: 16%;
			text-align: center;
			background: #fff;
			margin-right: .8%;
			border: 2px solid #A7BBC6;
			border-bottom: none;
			box-sizing: border-box;
			a {
				color: #A7BBC6;
				padding-top: .5em;
				padding-bottom: .5em;
			}
			&.menu06 {
				margin-right: 0;
			}
			&.current {
				background: #A7BBC6;
				a {
					color: #fff;
				}
			}
		}
	}
	#shareBtn {
		position: absolute;
		float: right;
		padding-top: 0;
		bottom: 10px;
		right: 3%;
		width: 80px;
		text-align: right;
		img {
			width: 15px;
		}
		span {
			display: inline;
		}
	}

	#contents {
		// height: 100%;
	}

	.h100p {
		height: 100%;
	}

	#main {
		text-align: left;
		h1 {
			font-size: 3em;
			&.smaller {
				font-size: 2.5em;
			}
		}
		h2 {
			font-size: 1.5em;
			line-height: 1.5;
			margin-top: 0;
		}
		p, dd, li {
			text-align: justify;
			text-justify: inter-ideograph;
			line-height: 1.8;
		}
		hgroup {
			h2 {
				vertical-align: middle;
			}
		}
		img {
			width: 100%;
		}
		.wf {
			&.w85 {
				width: 85px !important;
			}
		}
		.localMenu {
			div {
				float: left;
			}
			div, a {
				margin-bottom: 0;
			}
			p {
				text-align: left;
			}
			.piece {
				width: 100%;
				margin-bottom: .5em;
				img {
					margin-bottom: 1px;
					width: 100%;
				}
			}
			.box01 {
				width: 23.8223418%; // 177px
				margin-right: 1.884253%; // 14px
				.piece {
					clear: left;
				}
			}
			.box02 {
				width: 23.8223418%; // 177px
				margin-right: 1.884253%; // 14px
			}
			.box03 {
				width: 48.4522207%; // 360px
				.piece {
				}
			}
			.box04 {
				width: 48.4522207%; // 360px
				.piece {
					width: 47.6964%; // 176
					margin-right: 4.6%; // 17px
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}

		// parts
		.headline01 {
			font-size: 1.8em;
			&.nowrap {
				white-space: nowrap;
			}
		}
		.floatH {
			clear: left;
			float: left;
			// width: 90px;
			display: block;
			width: 12.113%;
			background: #C9C9CA;
			text-align: center;
			color: #fff;
			padding: .2em 0;
			font-size: 1.2em;
			margin-bottom: 1.5em;
			line-height: 1.5;
		}
		.floatBox {
			float: left;
			// width: 640px;
			width: 86.137%;
			padding-left: 10px;
			margin-bottom: 1.5em;
			ul {
				float: left;
				li {
					line-height: 1.8;
				}
			}
		}
		.kakkoIndent {
			margin-left: -.55em;
		}
		.box {
			zoom: 1;
			&:after,
			&:before {
				content: '';
				display: table;
			}
			&:after {
				clear: both;
			}
		}
		.pv25 {
			padding-top: 25px;
			padding-bottom: 25px;
		}
		.pv40 {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		.pt10 {
			padding-top: 10px;
		}
		.pt2e {
			padding-top: 2em;
		}
		.pt25 {
			padding-top: 25px;
		}
		.pt48 {
			padding-top: 48px;
		}
		.pt65 {
			padding-top: 65px;
		}
		.pt70 {
			padding-top: 70px;
		}
		.pt80 {
			padding-top: 80px !important;
		}
		.pt100 {
			padding-top: 100px;
		}
		.pb50 {
			padding-bottom: 50px;
		}
		.pb100 {
			padding-bottom: 100px;
		}
		.ps10 {
			padding-left: .71684%;
			padding-right: .71684%;
		}
		&.full {
			.ps50 {
				padding-left: 3.125%;
				padding-right: 3.125%;
			}
		}
		.ps70 {
			padding-left: 5.0179211%;
			padding-right: 5.0179211%;
		}
		.ps80 {
			padding-left: 5.7347%;
			padding-right: 5.7347%;
		}
		.pl1e {
			padding-left: 1em;
		}
		.pl20 {
			padding-left: 20px;
		}
		.pl70 {
			padding-left: 5.0179211%;
		}
		.pr65 {
			padding-right: 4.6628407%;
		}
		.pr60 {
			padding-right: 60px;
		}
		.mt-20 {
			margin-top: -20px;
		}
		.mt-10 {
			margin-top: -10px;
		}
		.mr5 {
			margin-right: 5px;
		}
		.mr10 {
			margin-right: 10px;
		}
		.mr20 {
			// margin-right: 20px;
			margin-right: 1.43369%;
		}
		.mr30 {
			margin-right: 30px;
		}
		.mr40 {
			margin-right: 40px;
		}
		.mr60 {
			margin-right: 4.301752%;
		}
		.w35 {
			width: 4.7106%;
		}
		.w10p {
			width: 10%;
		}
		.w20p {
			width: 20%;
		}
		.w50p {
			width: 50%;
			box-sizing: border-box;
			.w445 {
				width: 64.1319943%;
			}
			.w250 {
				width: 35.8680057%;
				max-width: 250px;
			}
		}
		.w6e {
			width: 6em;
		}
		.w140 {
			width: 10.02147%;
		}
		.w170 {
			width: 12.1951219%;
		}
		.w185 {
			width: 13.2142857%;
		}
		.w200 {
			width: 14.3472%;
		}
		.w225 {
			width: 16.1406025%;
		}
		.w300 {
			width: 21.5208034%;
		}
		.w335 {
			width: 24.0143%;
		}
		.w340 {
			width: 24.3378%;
		}
		.w400 {
			width: 28.6327845%;
		}
		.w420 {
			width: 30.0644%;
			&.pr40 {
				width: 34.9678%;
				padding-right: 4.9034%;
			}
		}
		.w460 {
			box-sizing: border-box;
			width: 32.9749%;
		}
		.w530 {
			width: 37.8571428%;
		}
		.w540 {
			width: 38.7096774%;
		}
		.w600 {
			width: 42.491768%;
			.w480 {
				width: 80%;
				.w65p {
					width: 65%;
				}
				.w35p {
					width: 35%;
					box-sizing: border-box;
				}
			}
		}
		.w620 {
			width: 44.44444%;
		}
		.w650 {
			width: 46.5282748%;
		}
		.w655 {
			width: 46.7857142%;
			.w340 {
				width: 51.9083969%;
			}
			.w270 {
				width: 41.221374%;
			}
		}
		.w665 {
			width: 47.7044476%;
			.w350 {
				width: 52.6315789%;
			}
			.w280 {
				width: 42.1052631%;
			}
		}
		.w700 {
			width: 50.1073%;
		}
		.w710 {
			width: 50.8960%;
		}
		.w760 {
			width: 54.4802%;
		}
		.w770 {
			width: 55.1971326%;
		}
		.w800 {
			width: 57.265569%;
			.w730 {
				width: 91.25%;
			}
		}
		.w920 {
			width: 65.8554%;
		}
		.w970 {
			width: 69.2857142%;
			.w500 {
				width: 51.5463917%;
			}
			.w415 {
				width: 42.7835%;
			}
		}
		.w100p {
			width: 100%;
		}
		.mh165 {
			min-height: 165px;
		}
		.mh240 {
			min-height: 240px;
		}
		.mh250 {
			min-height: 250px;
		}
		.h620 {
			height: 620px;
		}
		.h100p {
			height: 100%;
		}
		.bd3 {
			box-sizing: border-box;
			border: 3px solid #fff;
		}
		.flL {
			float: left;
		}
		.flR {
			float: right;
		}
		.fullLeft {
			float: left;
			padding-left: 3%;
			box-sizing: border-box;
		}
		.fullRight {
			float: right;
			padding-right: 3%;
			box-sizing: border-box;
		}
		.absBottom {
			position: absolute;
			bottom: 0;
		}
		.absTop {
			position: absolute;
			top: 0;
			&.t1e {
				top: 1em;
			}
		}
		.absRight {
			position: absolute;
			right: 0;
		}
		.absLeft {
			position: absolute;
			left: 0;
			&.l1e {
				left: 1em;
			}
		}
		.absBR {
			@extend .absBottom;
			@extend .absRight;
			margin-right: 2.5%;
			margin-bottom: 1%;
		}
		.absImg {
			max-height: 100%;
			width: auto !important;
		}
		.dib {
			display: inline-block;
			vertical-align: middle;
		}
		.fz5 {
			font-size: .7142rem !important;
		}
		.fz6 {
			font-size: .857rem !important;
		}
		.fz7 {
			font-size: 1rem !important;
		}
		.fz8 {
			font-size: 1.142rem !important;
		}
		.fz9 {
			font-size: 1.285rem !important;
		}
		.fz10 {
			font-size: 1.42857rem !important;
		}
		.fz11 {
			font-size: 1.571rem !important;
		}
		.fz12 {
			font-size: 1.714rem !important;
		}
		.fz13 {
			font-size: 1.857rem !important;
		}
		.fz14 {
			font-size: 2rem !important;
			&.mb {
				margin-bottom: .4em;
				line-height: 1.49;
			}
		}
		.fz15 {
			font-size: 2.142rem !important;
			line-height: 1.3;
		}
		.fz20 {
			font-size: 2.857142857rem !important;
		}
		.lh1 {
			line-height: 1;
		}
		.lh2 {
			line-height: 2;
		}
		.lh1-3 {
			line-height: 1.3;
		}
		.lh40 {
			line-height: 38px !important;
		}
		.lh85 {
			line-height: 85px !important;
		}
		.tal {
			text-align: left !important;
		}
		.headlineB {
			font-size: 1.5em;
			line-height: 1.2;
			padding-left: 1em;
			text-indent: -1em;
			&.mb {
				margin-bottom: .5em;
			}
			i {
				color: #A7BBC6;
				// font-size: 1.5em;
				font-size: 1em;
				margin-right: .1em;
			}
		}
		.telNumber {
			font-size: 2rem;
		}

		.vat {
			vertical-align: top;
		}
		.vam {
			vertical-align: middle;
		}

		.nowrap {
			white-space: nowrap;
		}

		.indentList {
			li {
				text-indent: -0.7em;
				padding-left: 0.7em;
			}
		}

		.grayHeader {
			margin-bottom: 0;
			&.mb1 {
				margin-bottom: 10px;
			}
		}

		.counter {
			display: inline-block;
			margin-bottom: 0;
		}

		// table
		table {
			th {
				white-space: nowrap;
			}
			td {
				div {
					float: left;
					padding-right: 20px;
				}
			}
			&.badgeTable {
				th {
					vertical-align: middle;
					width: 160px;
					&.badge {
						width: auto;
						padding-right: 0;
						i {
							padding: 2px 0 5px;
							width: 20px;
							height: 15px;
							text-align: center;
							display: block;
							background: #fff;
							color: #C9C9CA;
						}
					}
				}
				td {
					padding-left: 15px;
				}
			}
		}
		.plainTable {
			border-collapse: separate;
			border-spacing: 2px;
			border-top: 1px solid #C9C9CA;
			border-bottom: 1px solid #C9C9CA;
			padding-top: 1px;
			th {
				background: none;
				color: #221814;
				border-bottom: 1px solid #C9C9CA;
				text-align: center;
				padding: 5px 0;
			}
			td {
				// border-bottom: 1px solid #C9C9CA;
				text-align: center;
				padding: 5px 0;
				white-space: normal;
				p {
					text-align: center;
				}
				&.left {
					text-align: left;
				}
			}
			.bdl {
				border-left: 1px solid #C9C9CA;
			}
		}

		// layout
		.threeColumn {
			margin-right: -3%;
			font-size: .9em;
			ul {
				float: left;
				width: 32%;
				padding-right: 1%;
				li {
					line-height: 1.8;
					text-indent: -7px;
					padding-left: 7px;
					> ul {
						width: 100%;
						padding: 0;
					}
				}
			}
			dl {
				float: left;
				width: 30.3%;
				padding-right: 3%;
				dt {
					background: #C9C9CA;
					text-align: center;
					color: #fff;
					padding: .2em 0;
					font-size: 1.2em;
					margin-bottom: 1.5em;
					line-height: 1.5;
				}
			}
		}
		.tableLayout {
			display: table;
			.cell {
				display: table-cell;
				&.nowrap {
					white-space: nowrap;
				}
			}
			.vam {
				vertical-align: middle;
			}
			.vab {
				vertical-align: text-bottom;
			}
			.clock {
				padding-right: 2.495%;
			}
		}
		&.l-detail {
			.contentWrapper {
				padding-top: 70px;
				padding-bottom: 50px;
			}
			.contentBox {
				width: 45.26%;
				.twoColumn {
					.box {
						width: 47%;
					}
				}
			}
			.photoArea {
				width: 100%;
				margin-bottom: 2em;
			}
			.discList {
				li {
					margin-bottom: 0;
				}
			}
		}
		&.l-list {
			.dib {
				&.mr10 {
					margin-right: .7324218%;
				}
			}
		}
		&.l-saiyo {
			.headerBox {
				.headlineB {
					line-height: 1;
				}
				.pt30 {
					padding-top: 30px;
				}
				p {
					line-height: 1.5;
					margin-bottom: .5em;
				}
				li {
					line-height: 1.7;
				}
			}
			.counter {
				width: 70px;
				box-sizing: border-box;
			}
		}
		&.l-saiyo-youkou {
			a {
				display: inline;
				text-decoration: underline;
			}
			.backBtn {
				a {
					text-decoration: none;
				}
			}
			.fullLeft {
				.nowrap {
					white-space: nowrap;
				}
			}
			.l-saiyo-youkou_content {
				box-sizing: border-box;
				padding-bottom: 100px;
				padding-top: 75px;
				> dl {
					> dt, > dd {
						margin-bottom: 1em;
					}
				}
				> div {
					> dl {
						> dt, > dd {
							margin-bottom: 1em;
						}
					}
				}
			}
			.inline {
				.headlineB {
					a {
						text-indent: 0;
					}
					+ dd {
						width: 85%;
					}
				}
				dd {
					span {
						margin-right: 0;
					}
				}
				&.nowrap {
					dt {
						white-space: nowrap;
						text-indent: -.5em;
					}
					dd {
						width: 82%;
					}
				}
				&.wide {
					dt {
						width: 13em;
					}
					dd {
						width: 65%;
						text-indent: -1em;
					}
				}
				&.colon {
					dd {
						text-indent: -1em;
						&:before {
							content: "：";
						}
					}
				}
			}
			.twoColumn {
				li {
					float: left;
					width: 8em;
					white-space: nowrap;
					&.cll {
						clear: left;
					}
				}
			}
			dl.normal {
				dt, dd {
					float: none;
				}
			}
			.greenTable {
				td {
					background: #fff;
				}
				th {
					background: #CCEECC;
					color: #221814;
				}
			}
			.colorRed {
				color: #CE1725;
			}
			.colorGreen {
				color: #1AAD47;
			}
		}
		&.l-event {
			.bottomBorder {
				border-bottom: 1px solid #ACBFC8;
			}
			.errorHeader {
				color: #E30B21;
				img {
					width: 1.5em;
					vertical-align: baseline;
					vertical-align: text-bottom;
					margin-right: .2em;
				}
			}
		}
		.l-ishi-profile {
			display: inline-block;
			margin-top: -20px;
			margin-left: 30%;
			text-align: center;
			white-space: nowrap;
			.fz6 {
				font-size: .6em !important;
			}
		}
		.bgArrowFlow {
			background-image: url(../images/bg_arrow_flow.png);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			padding-top: 10px;
			padding-bottom: 10px;
			.bottomBorder {
				padding-bottom: .3em;
				margin-bottom: .8em;
			}
			p {
				white-space: normal;
			}
			&.pink {
				box-sizing: border-box;
				background-image: url(../images/bg_arrow_flow_pink.png);
				background-repeat: no-repeat;
				background-size: 98% 100%;
				padding-left: 1em;
				p {
					color: #F09EB5;
					&.center {
						text-align: center;
						padding-right: 30px;
					}
				}
				@media screen and (max-width: 1125px){
					p {
						font-size: .91em;
					}
				}
			}
		}
		.redBorderBox {
			// sp
			padding: 1%;
		}
		.borderBox {
			box-sizing: border-box;
			border: 2px solid;
			padding: 5px 10px;
			&.mist {
				border-color: #C9C9CA;
				color: #C9C9CA;
			}
		}
		.z2 {
			position: relative;
			z-index: 2;
			-webkit-transform: translate3d(0,0,0);
		}
		.fixImageBox {
			position: fixed;
			z-index: 0;
			&.top {
				top: 0;
			}
			&.right {
				right: 0;
			}
			&.bottom {
				bottom: 0;
			}
			&.left {
				left: 0;
			}
		}
		.timeTable {
			background: url(/recruit/images/bg_timeschejule_2.png) 50% repeat-y;
			.cell {
				width: 50.148%;
				// min-height: 260px;
				box-sizing: border-box;
				position: relative;
				margin-top: -130px;
				margin-bottom: 70px;
				figure {
					position: relative;
					z-index: 2;
				}
				&:first-child {
					margin-top: 0;
					padding-top: 70px;
				}
				&:last-child {
					margin-bottom: 0;
				}
				&:after {
					content: '';
					width: 100%;
					display: block;
					position: absolute;
					top: 52.8%;
					border-bottom: 2px solid #A7BBC6;
					z-index: 0;
				}
				&:before {
					content: url(/recruit/images/ico_timeline_point.jpg);
					width: 15px;
					height: 15px;
					// border: 2px solid #A7BBC6;
					position: absolute;
					top: 50%;
					// border-radius: 100%;
					z-index: 1;
				}
				&.size1 {
					figure {
						width: 100%;
					}
					&:after {
						width: 100%;
					}
				}
				&.size2 {
					figure {
						width: 80.6451612%;
					}
					&:after {
						top: 53.8%;
						width: 65.6451612%;
					}
				}
				&.size3 {
					margin-bottom: 100px;
					figure {
						width: 61.2903225%;
					}
					&:after {
						top: 55.8%;
						width: 61.2903225%;
					}
				}
				&.noPhoto {
					min-height: 160px;
					padding-top: 77px;
					&:after {
						top: 55.8%;
						width: 10.6451612%;
					}
				}
				&.weekend {
					&:before {
						content: '週末';
						display: inline-block;
						width: auto;
						height: auto;
						vertical-align: middle;
						line-height: 1;
						color: #A7BBC6;
						background: #fff;
						border-radius: 0;
						top: 47%;
						padding: 5px;
						z-index: 50;
						border: 2px solid #A7BBC6;
					}
				}
				&.rightSide {
					clear: left;
					float: right;
					// border-left: 2px solid #A7BBC6;
					padding-left: 45px;
					&:before {
						left: -9px;
					}
					&:after {
						left: 0;
					}
					&.weekend {
						&:before {
							left: -20px;
						}
					}
				}
				&.leftSide {
					clear: right;
					float: left;
					// border-right: 2px solid #A7BBC6;
					padding-right: 45px;
					figure {
						float: right;
					}
					&:before {
						// right: -9px;
						right: -4px;
						z-index: 1;
					}
					&:after {
						right: 0;
						z-index: 0;
					}
					&.noPhoto {
						p {
							text-align: right;
						}
					}
					&.weekend {
						&:before {
							right: -20px;
						}
						&:after {
							right: 20px;
						}
					}
				}
			}
		} // timeTable
		.subHead {
			font-weight: bold;
			margin-bottom: 1em;
			font-size: 1.1em;
			font-weight: bold;
			// + p {
			// 	margin-bottom: 4em;
			// }
		}
	}
	#side {
		float: left;
		position: relative;
		width: 21%; // 210px
		min-height: 600px;
	}
	#sideMenu {
		a {
			padding: 0;
			line-height: 1.8;
			font-size: 1.08em;
		}
		.small {
			font-size: .92rem !important;
			letter-spacing: -2px;
		}
		.twoColumn {
			overflow: hidden;
			margin-bottom: 20px;
			ul {
				clear: none;
				float: left;
				border-top: none;
				&.rightColumn {
					float: right;
				}
			}
		}
	}
	#sideInfo {
		-webkit-transition: bottom .25s ease-in-out;
		        transition: bottom .25s ease-in-out;
		// position: absolute;
		// bottom: 0;
		// font-size: .75em;
		dt {
			margin-bottom: .5em;
		}
		dd {
			// font-size: 1.08em;
		}
		.tel {
			font-size: 1.7em;
			vertical-align: middle;
			padding-left: 5px;
			font-weight: bold;
		}
		.address {
			font-size: .75rem;
		}
	}
	header, footer {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0,0,0);
	}
	footer {
		width: 100%;
		font-size: .83em;
		z-index: 1;
		background: #fff;
		.inner {
			width: 94%; // 990px
			max-width: 1600px;
			min-width: 960px;
			margin: 0 auto;
			padding: 1em 3% 0;
		}
	}
	#footerMenu {
		float: left;
		ul {
			overflow: hidden;
			border-left: 1px solid #9C9A9A;
		}
		li {
			float: left;
			a {
				padding: 0 10px;
				border-right: 1px solid #9C9A9A;
			}
		}
	}
	#copyright {
		float: right;
	}
}

@media screen and (max-width: 480px){
	.pSp {
		padding: 5%;
		.btn.ml1e {
			margin-left: 0 !important;
		}
	}

	table {
		display: block;
		width: auto;
		position: relative;
		overflow-x: auto;
		white-space: nowrap;
	}

	#main {
		&.bgConcept {
			padding-bottom: 210px;
			background-position: -201px bottom;
			background-size: 520px;
		}
		&.l-saiyo-youkou {
			dl {
				&.inline {
					margin-bottom: 1em;
					dt,
					dd {
						width: 100%;
					}
					dt {
						margin-top: 1em;
						margin-bottom: 1em;
					}
					dd {
						dl {
							margin-left: -1em;
						}
						dt {
							margin-top: 0;
							margin-bottom: 0;
						}
						dd {
							margin-bottom: 1em;
						}
					}
				}
			}
		}
	}

  .backBtn {
  	display: none;
  }

}



#shareBtnOverlay {
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 1001;
	background: #fff;
	opacity: 0;
}

#shareBtnContainer {
	position: fixed;
	z-index: 1002;
	height: 240px;
	width: 350px;
	left: 508px;
	top: 335px;
	text-align: center;
	background: #fff;
	border: 1px solid #EDEDED;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

#shareArea {
	position: relative;
	padding: 30px 45px;
	#shareCloseBtn {
		position: absolute;
		top: -15px;
		right: -15px;
		a {
			color: #fff;
			font-weight: bold;
			display: block;
			width: 30px;
			height: 20px;
			padding: 5px 0;
			border: 2px solid #fff;
			background-color: #999;
			border-radius: 50%;
			text-decoration: none;
			transition: all 0.2s ease-in-out;
			box-shadow: 0 0 5px rgba(0, 0, 0, .2);
			&:hover {
				opacity: 1;
				background-color: #ccc;
			}
		}
	}
	.shareTitle {
		font-size: 1.2em;
		padding-top: 12px;
		padding-bottom: 21px;
		border-bottom: 1px solid #ccc;
		margin-bottom: 25px;
		font-weight: bold;
	}
	ul {
		li {
			display: inline-block;
			vertical-align: text-bottom;
			height: 65px;
			width: 65px;
			margin-right: 12px;
		}
	}
}