@media screen and (max-width: 481px) {
    .headlineB br {
        display: none;
    }
    .l-shiryou-iryou .mb130 {
        margin-bottom: 20px;
    }
    .l-shiryou-iryou .profileWrapper {
        display: flex;
        white-space: nowrap;
        padding: 0;
    }
    .l-shiryou-iryou .profileWrapper .profileBox {
        margin-right: 5%;
    }
    .l-shiryou-iryou .profileWrapper .profileBox:last-child {
        margin-right: 0;
    }

    .posi-cont{
        position: relative !important;
        top:20px !important;
    }
}


@media screen and (max-width: 481px) {
    .nou-iryou-img{
        position: absolute !important;
        top:200px !important;
    }
}
.margin-control{
    margin-right: 0 !important;
}

.nou-iryou-img2{
    width: 25% !important;
}
