/*2020.8.27　簡易更新の為に作成*/
.midasi{
font-weight: bold !important;
text-decoration: underline !important;
}

.bold{
font-weight: bold !important;
}

.blue{
color:blue !important;
}

.fz-l{
    font-size: large !important;
}