.l-shiryou-saishin {
    padding-top: 0;
    margin-top: -22px;
}
.notes-01 {
    padding-left: 3em;
    text-indent: -3em;
}
.sub-title {
    background: #dcdddd;
    padding: 0 .5em;
    font-weight: bold;
    margin-bottom: .75em;
}
@media screen and (min-width: 480px) {
    .l-shiryou-saishin #mainVisual {
        position: relative;
        padding-left: 0;
        display: block;
        overflow: hidden;
        margin-bottom: 50px;
    }
    .l-shiryou-saishin #mainVisual .text {
        position: absolute;
        width: 41.746852396%;
        padding-top: 8%;
        left: 8.4%;
        background: none;
        text-align: left;
        height: 100%;
    }
    .l-shiryou-saishin #mainVisual .text img {
        height: auto;
    }
    .l-shiryou-saishin #mainVisual .mainVisual_text {
        position: absolute;
        margin-top: 5%;
        margin-left: 15%;
    }

    #mainVisual .text .dataTitle {
        margin-bottom: 2px;
        margin-top: 45%;
    }
    #mainVisual .text .data {
        margin-right: 0;
        font-weight: bold;
    }
    .l-shiryou-saishin #mainVisual .text .bigger {
        font-size: 4.8img_sub_03em;
        letter-spacing: -.02em;
        font-weight: normal;
    }
    .l-shiryou-saishin #mainVisual .image {
        position: relative;
        right: 0;
        width: 100%;
    }
    .contentBox .title span {
        display: inline-block;
        vertical-align: middle;
    }
    .contentBox li {
        padding-left: 1em;
        text-indent: -1em;
    }
}
.contentBox--full {
    width: 100% !important;
    float: none;
}

.profile {
    display: flex;
    justify-content: space-between;
}
.profile > div {
    width: 49%;
}
.profile .c-headline {
    margin-bottom: .5em;
    letter-spacing: .12em;
}
.l-shiryou-saishin .contentBox .profile .title {
    border-bottom: none;
    margin-bottom: .5em;
}

.l-shiryou-saishin .contentBox .title {
    border-bottom: none;
    margin-bottom: 1em;
    letter-spacing: .05em;
    border-bottom: 1px solid;
}
#main .contentBox .profile li {
    line-height: 1.83;
    font-feature-settings: 'palt';
    padding-left: 0;
    text-indent: 0;
}
.l-shiryou-saishin .contentBox.profile-text {
    width: 53.869499241%;
    padding-top: 4em;
}


.right {
    text-align: right !important;
}

@media screen and (max-width: 481px) {
    #mainVisual .start img {
        width: 50%;
    }
    #mainVisual .image img {
        margin-top: -50px;
        height: 80vmin;
        object-fit: cover;
        object-position: 95% 50%;
    }
}

