@media screen and (min-width: 480px){
    .spviwe{
        display: none !important;
    }

}

@media screen and (max-width: 481px){
    .pcviwe{
        display: none !important;
    }
}

/*2020.8.27　簡易更新の為に作成*/
.midasi{
font-weight: bold !important;
text-decoration: underline !important;
}

.bold{
font-weight: bold !important;
}

.blue{
color:blue !important;
}

ul li .inline{
    display: inline !important;
}

.indent-1 {
    padding-left:1em !important;
    text-indent:-0.99em !important;
}

.indent-2 {
    padding-left:2em !important;
    text-indent:-0.99em !important;
}

.indent-3 {
    padding-left:3em !important;
    text-indent:-0.99em !important;
}

.indent-8 {
    padding-left:8em !important;
    text-indent:-0.99em !important;
}

.mb04{
    margin-bottom: 4px !important;
}