@media screen and (min-width: 480px) {
    .spview{
        display: none !important;
    }

    .font-cont{
        font-size: 2.1rem !important;
    }
}

@media screen and (max-width: 481px) {
    .pcviwe{
        display: none !important;
    }

    .font-cont{
        font-size: 1.7rem !important;
    }
}
