@media screen and (max-width: 481px){
    .lead{
        font-size: 1.8rem !important;
    }

    .font-cont{
        font-size: 0.8rem !important;
        text-align: left !important;
    }

    .font-cont .lead{
        margin-left: 2% !important;
    }
        
}

@media screen and (min-width: 480px){

}