@media screen and (min-width: 480px) {
    #main .w50{
        width: 45% !important;
    }

    img .hight-cont { 
        vertical-align: middle !important; 
    }

    .left-content {
        width: 50%;
        display: table-cell;
        text-align : left;
      }
      
      .right-content {
        width: 30%;
        display: table-cell;
        text-align : right;
      }
} 

@media screen and (max-width: 481px) {
    #main .w50{
        width: 100% !important;
    }
}

.pdf-link{
        padding:10px;
        margin-bottom:10px;
        margin-right:;
        border: 1px solid #333333;
    }
